:root {
  --bg-1: #f6f7f8;
  --bg-2: #f6f7f8;
  --heading-color: #42465d;
  --dark-text-color: #42465d;
  --contact-description-color: rgba(255, 255, 255, 0.6);
  --contact-links: #f9ffee;
  --contact-heading-color: #ffffff;
}
.lights-off {
  --bg-1: #25241d;
  --bg-2: #1c2129;
  --heading-color: #dfa612;
  --dark-text-color: #f9ffee;
  --dark-divider-bg-1: #ff8a00;
  --dark-divider-bg-2: #52142a;
  --contact-description-color: #f9ffee;
  --contact-links: #3399fe;
  --contact-heading-color: #dfa612;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background: var(--bg-2);
}

a {
  cursor: pointer;
  text-decoration: none;
}

.theme-toggle {
  position: absolute;
  width: 100px;
  top: 30px;
  height: 50px;
  right: 0;
  transform: scale(0.4);
  cursor: pointer;
  z-index: 1;
}
.theme-toggle.dark-theme .thumb {
  margin: -8px 0 0 42px;
}
@media screen and (max-width: 768px) {
  .theme-toggle {
    margin-left: -17px;
  }
}
.thumb {
  content: "";
  width: 62px;
  height: 62px;
  display: block;
  float: left;
  border-radius: 50%;
  padding: 0;
  margin: -8px 0 0;
  background: #fafafa;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.thumb:hover {
  background: #f3f3f3;
}
.thumb div {
  width: 50%;
  height: 5px;
  background: rgba(0, 0, 0, 0.1);
  margin: 29px auto;
  position: relative;
}
.thumb div:after {
  content: "";
  width: 100%;
  height: 5px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 10px;
  left: 0;
}
.thumb div:before {
  content: "";
  width: 100%;
  height: 5px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -10px;
  left: 0;
}
.night {
  width: 50px;
  height: 45px;
  display: block;
  position: absolute;
  background: #3e6185;
  border-radius: 0 70px 70px 0;
  margin-left: 50%;
}
.night:before {
  content: " ";
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  background: #fff;
  top: -15px;
  margin-top: 50%;
  left: -10px;
  margin-left: 50%;
}
.night:after {
  content: " ";
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background: #3e6185;
  position: absolute;
  top: -15px;
  margin-top: 50%;
  left: -12px;
  margin-left: 50%;
}
.night span {
  display: block;
  width: 5px;
  height: 5px;
  background: #9fb0c2;
  border-radius: 2.5px;
  position: absolute;
  z-index: 2;
  right: 7px;
  top: 4.5px;
}
.night span:before,
.night span:after {
  content: " ";
  width: 3px;
  height: 3px;
  border-radius: 1.5px;
  position: absolute;
  background: #9fb0c2;
  z-index: 2;
  left: -26px;
  top: 4px;
}
.night span:after {
  left: -2px;
  top: 28px;
}
.day {
  width: 50px;
  height: 45px;
  display: block;
  position: absolute;
  background: #85d6f4;
  border-radius: 70px 0 0 70px;
  overflow: hidden;
}
.day:before {
  content: " ";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  background: #f0ed0a;
  top: -18px;
  margin-top: 50%;
  left: -15px;
  margin-left: 50%;
}
.day:after {
  content: " ";
  width: 70px;
  height: 70px;
  border-radius: 50px;
  position: absolute;
  background: green;
  top: 10px;
  margin-top: 50%;
  left: -20px;
  margin-left: 50%;
}

#about,
#contact {
  width: 100%;
  overflow: hidden;
  min-height: 800px;
}

.about-me-content,
.andy-contact-content,
.welcome-columns {
  max-width: 960px;
  margin: 0 auto;
  font-size: 0.9rem;
}

#home {
  position: relative;
  min-height: calc(100vh - 50px);

  h2 {
    font-size: 1.6rem;
    line-height: 1;
    letter-spacing: 1.55px;
    color: var(--heading-color);
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 80px;
    font-weight: 700;

    &:after {
      content: "";
      border-bottom: 1px solid #3273dc;
      height: 1px;
      width: 60px;
      position: relative;
      left: 50%;
      margin-left: -30px;
      display: block;
      top: 12px;
    }
  }
}

#welcome-content {
  height: 500px;
  width: 100%;
  background-color: #f6f7f8;
  margin-top: -30px;
  position: relative;
  overflow: hidden;

  .andy-hi {
    width: 300px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -230px;
    height: 412px;

    &.hi-light {
      background: url(./static/andy_hi.png) no-repeat scroll 0 0 transparent;
      background-size: 300px;
    }

    &.hi-dark {
      background: url(./static/andy_hi_dark.png) no-repeat scroll 0 0
        transparent;
      background-size: 300px;
      opacity: 0;
    }
  }

  .welcome-columns {
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    position: relative;
    .heading {
      font-size: 3.5rem;
      line-height: 1;
      color: var(--heading-color);
      margin-bottom: 5px;
      margin-top: 190px;
      width: 310px;
      left: 50%;
      position: relative;
      margin-left: -140px;
      font-weight: 700;
    }
    .description {
      width: 330px;
      color: var(--dark-text-color);
      margin-left: -140px;
      left: 50%;
      position: relative;
      font-size: 1rem;
    }
    & > .column {
      &:first-child {
        width: 60%;
        position: relative;
        flex: none;
      }
      &:last-child {
        position: relative;
      }
    }
    @media screen and (max-width: 768px) {
      padding: 0 35px;

      & > .column {
        &:first-child {
          width: 100%;
        }

        &:last-child {
          position: absolute;
          bottom: 0;
          width: 100%;
        }
      }
      .heading {
        margin-top: 165px;
        text-align: center;
        left: 0;
        width: 100%;
        margin-left: 0;
      }
      .description {
        text-align: center;
        left: 0;
        width: 100%;
        margin-left: 0;
      }
    }
  }
  @media screen and (max-width: 768px) {
    height: 650px;
    .welcome-columns {
      .heading {
        margin-top: 120px;
      }
      .andy-hi {
        background-size: 250px;
        height: 362px;
        width: 250px;
        margin-left: -150px;
      }
    }
  }
}

#contact {
  height: 920px;
  position: relative;
  background-color: #1c2129;
  width: 100%;
  overflow: hidden;
  min-height: 800px;
  .andy-contact-content {
    padding: 0 35px;
  }
  h2 {
    color: var(--contact-heading-color);
    &:after {
      width: 100px;
      margin-left: -50px;
    }
  }

  .top-lights {
    position: absolute;
    top: 0;
    background-position: top center;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url(./static/toplights.png);
    opacity: 0.5;
  }

  .contact-description {
    line-height: 24px;
    color: var(--contact-description-color);
    margin-top: 20px;
    a {
      color: var(--contact-links);
    }
  }

  .trash {
    background: url(./static/trashbin.png) no-repeat scroll 0 0 transparent;
    width: 100px;
    height: 100px;
    background-size: 100px;
    left: 50%;
    position: absolute;
    bottom: 11px;
    margin-left: -280px;
    z-index: 2;
  }

  .andy-sit {
    background-image: url(./static/andySit.png);
    width: 310px;
    height: 480px;
    background-size: 500px;
    position: absolute;
    background-repeat: no-repeat;
    bottom: 5px;
    left: 50%;
    margin-left: -190px;
    background-position: center;
    z-index: 2;
  }

  .shelf {
    background: url(./static/shelf.png) no-repeat scroll 0 0 transparent;
    width: 150px;
    height: 100px;
    background-size: 130px;
    left: 50%;
    position: absolute;
    bottom: 275px;
    margin-left: -400px;
  }

  .night-stand {
    background: url(./static/nightstand.png) no-repeat scroll 0 0 transparent;
    width: 347px;
    height: 260px;
    background-size: 350px;
    left: 50%;
    position: absolute;
    bottom: 25px;
    margin-left: 50px;
    z-index: 3;
  }

  .floor {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: url(./static/floor.png);
    height: 55px;
    z-index: 1;
  }

  @media screen and (max-width: 768px) {
    h2 {
      top: 40px;
    }
    .trash {
      display: none;
    }
    .andy-sit {
      width: 260px;
      height: 430px;
      background-size: 410px;
      margin-left: -230px;
    }
    .shelf {
      display: none;
    }
    .night-stand {
      width: 317px;
      height: 230px;
      background-size: 320px;
      margin-left: -120px;
    }
  }
  @media screen and (max-width: 1087px) {
    .dark-divider {
      left: 0;
      max-width: 100%;
      width: 100%;
    }
  }
}

#about {
  background-color: white;
  border-top: 1px solid #e9eaed;

  .andy-about-me {
    width: 450px;
    position: relative;
    bottom: -10px;
    left: 50%;
    margin-left: -225px;
    height: 295px;
    margin-top: 50px;

    &.about-light {
      background: url(./static/andy_about_me.png) no-repeat scroll 0 0
        transparent;
      background-size: 450px;
    }

    &.about-dark {
      background: url(./static/andy_about_me_dark.png) no-repeat scroll 0 0
        transparent;
      background-size: 450px;
      display: none;
    }
  }

  #skills-container {
    .languages-skills svg {
      width: 26px;
      float: left;
      margin-top: -2px;
      margin-right: 5px;
    }
    .libraries-and-frameworks-skills svg {
      float: left;
      width: 26px;
      margin-right: 5px;
      margin-top: -3px;
    }
  }

  .skills-title {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 1rem;
    color: var(--heading-color);
  }
  .skills-text {
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: var(--dark-text-color);
  }

  .skills-separator {
    background: rgba(100, 104, 122, 0.2);
    height: 1px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    &.bottom-separator {
      margin-top: 20px;
    }
  }

  .about-me-content {
    padding: 0 35px;
    h2 {
      font-size: 1.6rem;
      line-height: 1;
      letter-spacing: 1.55px;
      color: var(--heading-color);
      left: 0;
      right: 0;
      text-align: center;
      margin-top: 120px;
      margin-bottom: 80px;
      font-weight: 700;
    }
    .about-me-description {
      font-size: 0.95rem;
      color: var(--dark-text-color);
      .ibm {
        margin-left: 3px;
        margin-right: 3px;
        position: relative;
        top: 5px;
        align-items: center;
        display: inline-flex;
        svg {
          margin-right: 4px;
          &.eye {
            width: 21px;
          }

          &.bee {
            width: 19px;
          }

          &.m {
            width: 17px;
          }
        }
      }
    }
    #skills-container {
      display: flex;
      & > .column {
        &:first-child {
          flex-grow: 1;
        }
        &:last-child {
          flex-grow: 1;
        }
      }

      .languages-skills svg {
        width: 26px;
        float: left;
        margin-top: -2px;
        margin-right: 5px;
        fill: var(--heading-color);
      }
      .libraries-and-frameworks-skills svg {
        float: left;
        width: 26px;
        margin-right: 5px;
        margin-top: -3px;
        fill: var(--heading-color);
      }
    }
  }
  @media screen and (max-width: 768px) {
    .about-me-content {
      #skills-container {
        margin-left: 0;
        position: relative;
        display: block;
        & > .column {
          &:first-child {
            flex-grow: 1;
            margin-bottom: 30px;
          }
          &:last-child {
            flex-grow: 1;
          }
        }
      }

      .andy-about-me {
        width: 350px;
        background-size: 350px;
        height: 235px;
        margin-left: -175px;
      }
    }
  }
}

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;

  &:last-child {
    margin-bottom: -0.75rem;
  }
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

footer {
  height: 50px;
  background: #1c2129;
  p {
    text-align: center;
    font-size: 0.8rem;
    color: #fff;
    padding-top: 16px;
    margin: 0;
  }
}

.dark-divider {
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  height: 5px;
  background-color: var(--dark-divider-bg-2);
  background: linear-gradient(
    to right,
    var(--dark-divider-bg-1),
    var(--dark-divider-bg-2)
  );
  width: 70%;
  max-width: 960px;
  border-radius: 20px;
  margin: 0 auto;
  position: relative;
  opacity: 0;
}

body.lights-off {
  background: var(--bg-2);

  .dark-divider {
    opacity: 1;
  }

  #welcome-content {
    background: 0 0;

    .andy-hi {
      &.hi-dark {
        opacity: 1;
      }
      &.hi-light {
        opacity: 0;
      }
    }
  }

  #contact {
    border-top: none;
    h2 {
      margin-top: 50px;
    }
    .top-lights {
      width: 790px;
      position: relative;
      margin: 0 auto;
      @media screen and (max-width: 1087px) {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  #about {
    border-top: none;
    min-height: 750px;
    background-color: transparent;
    .ibm {
      background: #4e4e4e;
      padding: 2px 10px;
      border-radius: 20px;
      top: 6px;
    }
    .andy-about-me {
      opacity: 0.8;
      background-image: url(./static/andy_about_me_dark.png);

      &.about-light {
        display: none;
      }

      &.about-dark {
        display: block;
      }
    }
  }
}
